@import "extend";

main {
	margin: 0 auto;
	min-height: 600px;
	position: relative;
	width: 100%;

	@import "header";

	@import "main-slider";

	@import "main-home";

	@import "main-product";

	@import "main-about";

	@import "footer";

	@import "media";
}


