@import "reset";
@import "fonts";
@import "main-menu";


body {
	margin: 0 auto;
	font-family:  "Lato", Arial, sans-serif;
	max-width: 1600px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
	text-align: left;
	background-color: #fff;
	height: 4200px;
}



//.main {
//	display: flex;
//	flex-direction: column;
//
//
//	.container{
//		padding-left: 0;
//		padding-right: 0;
//
//		.row {
//			padding-left: 0;
//			padding-right: 0;
//
//			.col-1,
//			.col-2,
//			.col-3,
//			.col-4,
//			.col-5,
//			.col-6,
//			.col-7,
//			.col-8,
//			.col-9,
//			.col-10,
//			.col-11,
//			.col-12 {
//				padding-left: 0;
//				padding-right: 0;
//			}
//		}
//	}
//}
