@import "reset";
@import "fonts";
// @import "extend";


body {
	margin: 0 auto;
	font-family:  "Lato", Arial, sans-serif;
	max-width: 1600px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
	text-align: left;
	background-color: #fff;
	// height: 4200px;

	@import "main-menu";
}
